<footer th:fragment="footerFragment">
    <div class="footer_info">
        <h3>코코넛 커뮤니티</h3>
        <p>대전광역시 서구</p>
        <p>전화번호: 010-1234-5678</p>
        <p>이메일: info@cocoanutcommunity.com</p>
        <p>코코넛 커뮤니티는 다양한 주제로 이야기를 나누는 공간입니다.</p>
    </div>
    <div class="footer_body">
    <div class="footer_wrapper">
        <div class="footer_button btn1">
            <a href="https://github.com/taewoo922">
            <div class="footer_icon">
                <i class='fab fa-github'></i>
            </div>
            <span class="footer_name name1">WAEWOO</span>
            </a>
        </div>
        <div class="footer_button btn2">
            <a href="https://github.com/hyunji1205">
            <div class="footer_icon">
                <i class='fab fa-github'></i>
            </div>
            <span class="footer_name name2">HYUNJI</span>
            </a>
        </div>
        <div class="footer_button btn3">
            <a href="https://github.com/kimminseop99">
            <div class="footer_icon">
                <i class='fab fa-github'></i>
            </div>
            <span class="footer_name name3">MINSEOP</span>
            </a>
        </div>
    </div>
    </div>
</footer>
