<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- 네브바 폰트 -->
    <script src="https://kit.fontawesome.com/eb860590bd.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gasoek+One&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap">
    <!--swiper-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <!--푸터 폰트-->
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>


    <!-- 네브바 CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/navbarStyle.css}">
    <!-- Report CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/reportList.css}">
    <!-- ReportDetail CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/reportDetail.css}">
    <!-- ReportForm CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/reportForm.css}">
    <!-- bestReport CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bestReport.css}">
    <!-- main CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <!-- footer CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}">
    <!-- user CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/user1.css}">
    <!--category-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/category.css}">
  <!--  &lt;!&ndash;freedcsList&ndash;&gt;
    <link rel="stylesheet" type="text/css" th:href="@{/css/freedcsList.css}">-->
    <!--freedcsDetail-->
    &lt;!&ndash;freedcsList&ndash;&gt;
    <!--freedcsList-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/freedcsList.css}">
    <!--freedcsDetail-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/freedcsDetail.css}">
    <!--freedcsForm-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/freedcsForm.css}">


    <title>Coconut</title>

</head>
<body>

<!-- 내비게이션 바 -->
<nav th:replace="~{common/navbar :: navbarFragment}"></nav>

<!-- 기본 템플릿 안에 삽입될 내용 시작 -->
<div class="content-area">
    <th:block layout:fragment="content"></th:block>
</div>
<!-- 기본 템플릿 안에 삽입될 내용 끝 -->


<!-- 자바스크립트 Start -->
<script th:src="@{/js/search.js}"></script>
<script th:src="@{/js/navbar.js}"></script>
<script th:src="@{/js/report.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script th:src="@{/js/swiper.js}"></script>
<script th:src="@{/js/main.js}"></script>
<!-- 자바스크립트 End -->

</body>
</html>
