<nav th:fragment="navbarFragment">
  <section class="nav__sec">
    <nav class="nav_container">
      <div class="nav__logo">
        <a href="/" class="main_logo">
          <img th:src="@{/images/coconut.png}" alt="이미지">
        </a>
      </div>
      <ul class="nav__main">
        <li><a href="/discussion/freedcs_list">자유토론</a></li>
        <li class="none">|</li>
        <li><a href="/discussion/debate_list">찬반토론</a></li>
        <li class="none">|</li>
        <li><a href="/report/base">질문 하기</a></li>
        <li class="none" sec:authorize="hasRole('ADMIN')">|</li>
        <li sec:authorize="hasRole('ADMIN')"><a th:href="@{/userlist}">관리자</a></li>
      </ul>
      <ul class="nav__loginAndSearch">
        <form class="nav__search-form" th:action="@{/discussion/search}" method="get">
          <input type="text" name="kw" placeholder="검색어를 입력하세요">
          <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
        <a sec:authorize="isAnonymous()" href="/user/login" class="nav__link">로그인</a>
        <a sec:authorize="isAnonymous()" href="/user/signup" class="nav__link">회원가입</a>
        <a sec:authorize="isAuthenticated()" href="/user/logout" class="nav__link">로그아웃</a>
        <a sec:authorize="isAuthenticated()" href="/user/profile" class="nav__link">마이페이지</a>
      </ul>
      <a href="#" class="nav__bar">
        <i class="fa-solid fa-bars icon"></i>
      </a>
    </nav>
  </section>
  <div class="content-area"></div>
</nav>
