<nav th:fragment="navbarFragment">
  <section class="nav__sec">
    <nav class="nav_container">
      <div class="nav__logo">
        <a href="/" class="main_logo">
          <img th:src="@{/images/coconut.png}" alt="이미지">
        </a>
      </div>
      <ul class="nav__main">
        <li><a href="/discussion/freedcs_list">자유토론</a></li>
        <li>|</li>
        <li><a href="/discussion/debate_list">찬반토론</a></li>
        <li>|</li>
        <li><a href="/report/best_report">QnA</a></li>
      </ul>
      <form class="nav__search-form" th:action="@{/discussion/search}" method="get">
        <input type="text" name="kw" placeholder="검색어를 입력하세요" required>
        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
      </form>
      <ul class="nav__loginAndSearch">
        <a sec:authorize="isAuthenticated()" class="nav__search" href="/user/search">
          <i class="fa-solid fa-magnifying-glass"></i>
        </a>
        <a sec:authorize="isAnonymous()" href="/user/login">로그인</a></li>
        <a sec:authorize="isAnonymous()" href="/user/signup">회원가입</a></li>
        <a sec:authorize="isAuthenticated()" href="/user/logout">로그아웃</a></li>
        <a sec:authorize="isAuthenticated()" href="/user/profile">마이페이지</a></li>
      </ul>
      <a href="#" class="nav__bar">
        <i class="fa-solid fa-bars icon"></i>
      </a>
    </nav>
  </section>
  <div class="content-area"></div>
</nav>
