<html layout:decorate="~{common/layout}">
<div layout:fragment="content" class="admin_container">
    <div class="container my-3">
        <h1 class="admin-title">Coconut 커뮤니티 관리자 페이지</h1>
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-users-tab" data-toggle="tab" href="userlist" role="tab" aria-controls="nav-users" aria-selected="true">회원 관리</a>
                <a class="nav-item nav-link" id="nav-freedcs-tab" data-toggle="tab" href="freedcslist" role="tab" aria-controls="nav-discussions" aria-selected="false">자유토론 관리</a>
                <a class="nav-item nav-link" id="nav-debate-tab" data-toggle="tab" href="debatelist" role="tab" aria-controls="nav-discussions" aria-selected="false">찬반토론 관리</a>
                <a class="nav-item nav-link" id="nav-questions-tab" data-toggle="tab" href="questionlist" role="tab" aria-controls="nav-questions" aria-selected="false">질문 게시물 관리</a>
            </div>
        </nav>
        <!-- Discussions Management -->
        <div class="tab-pane fade" id="nav-discussions" role="tabpanel" aria-labelledby="nav-discussions-tab">
            <div class="row my-3">
                <div class="col-6">토론 게시물 관리</div>
                <div class="col-6">
                    <form>
                        <div class="input-group">
                            <input type="text" name="kw" id="search_kw" class="form-control" th:value="${param.kw}">
                            <button class="btn btn-outline-secondary" id="btn_search">찾기</button>
                        </div>
                    </form>
                </div>
            </div>
            <table class="table">
                <thead class="table-dark">
                <tr class="text-center">
                    <th>번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>작성일자</th>
                    <th>삭제</th>
                </tr>
                </thead>
                <tbody>
                <tr class="text-center" th:each="discussion, loop : ${paging}">
                    <td class="text-center" th:text="${paging.getTotalElements - (paging.number * paging.size) - loop.index}"></td>
                    <td class="text-center" th:text="${discussion.title}"></td>
                    <td class="text-center" th:if="${discussion.author != null}" th:text="${discussion.author.nickname}"></td>
                    <td class="text-center" th:text="${#temporals.format(discussion.createDate, 'yyyy-MM-dd')}"></td>
                    <td>
                        <form th:action="@{/admin/freedcs/delete/{id}(id=${discussion.id})}" method="post"
                              onsubmit="return confirm('정말 삭제하시겠습니까?');">
                            <input type="hidden" name="id" th:value="${discussion.id}" />
                            <button type="submit" class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()">삭제</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
            <!-- Pagination -->
                        <nav th:if="${!paging.isEmpty()}" th:with="kwBase = '?kw=' + ${param.kw != null ? param.kw : ''}">
                            <ul class="pagination justify-content-center">
                                <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                                    <a class="page-link" th:href="@{|${kwBase}&page=${paging.number - 1}|}">이전</a>
                                </li>
                                <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
                                    th:if="${page >= paging.number-2 and page <= paging.number+2}"
                                    th:classappend="${page == paging.number} ? 'active'"
                                    class="page-item">
                                    <a th:text="${page + 1}" class="page-link" th:href="@{|${kwBase}&page=${page}|}"></a>
                                </li>
                                <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                                    <a class="page-link" th:href="@{|${kwBase}&page=${paging.number + 1}|}">다음</a>
                                </li>
                            </ul>
                        </nav>
        </div>
    </div>
</div>