        body {
            font-family: Arial, sans-serif;
            background-color: white;
        }

        .admin_container {
            margin: 20px;

        }

        .container_admin{
            max-width: 1500px;
            margin: 0 auto;
            padding: 20px;
        }

        .admin-title {
            text-align: center;
            margin-bottom: 100px;
        }

        .nav-tabs {

            color: white;
            margin-top: 150px;
        }

        .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
            color: black;

        }

        .nav-tabs .nav-link {
            padding: 20px;
            background-color: #8B4513;
            color: white;
            text-align: center;
            border-radius: 5px;
            font-weight: bold;
        }

        .nav-tabs .nav-link:hover {
            background-color: #70360c;
            transform: translateY(-2px);
            border-radius: 5px;
        }

        .table {
            width: 100%;
            margin-bottom: 1rem;
            color: #212529;
        }

        .table th,
        .table td {
            padding: 0.75rem;
            vertical-align: top;
            border-top: 1px solid #dee2e6;
        }

        .table-dark {
            color: #fff;
            background-color: #343a40;
        }

        .table-dark th,
        .table-dark td,
        .table-dark thead th {
            border-color: #454d55;
        }

        .pagination {
            display: flex;
            justify-content: center;
            padding-left: 0;
            list-style: none;
            border-radius: 0.25rem;
        }

        .page-item {
            margin: 0 2px;
        }

        .page-item .page-link {
            position: relative;
            display: block;
            padding: 0.5rem 0.75rem;
            margin-left: -1px;
            line-height: 1.25;
            color: #8B4513;
            background-color: #fff;
            border: 1px solid #dee2e6;
        }

        .page-item.disabled .page-link {
            color: #8B4513;
            pointer-events: none;
            cursor: auto;
            background-color: #fff;
            border-color: #dee2e6;
        }

        .page-item.active .page-link {
            z-index: 1;
            color: #fff;
            background-color: #8B4513;
            border-color: #8B4513;
        }

    .input-group button {
        border-radius: 5px;
      background-color: #8B4513; /* 버튼 배경색 */
      color: white; /* 버튼 텍스트 색상 */
      transition: background-color 0.3s ease; /* 배경색 전환 효과 */
    }

    .input-group button:hover {
      background-color: #70360c; /* 호버 시 배경색 변경 */
    }

    .my-31{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    }

    .admin_body{
    display:flex;
    justify-content: space-around;
    }

     .nav-item {
                display: block;
                margin-bottom: 20px; /* 각 항목 사이의 간격 조절 */
     }

     .admin_nav{
     border-right: 1px solid black;
     padding: 20px
     }

     .admin_show{
     width: 1000px;}

.admin_icon{
    font-size: 100px;
    display: flex;
        justify-content: center;
}

.admin_icon_text{
font-size: 30px;
 display: flex;
        justify-content: center;
}

.admin_select{
    font-weight: bold;
}

.admin_form_control{
    width: 220px;
}