body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
    margin: 0;
    overflow-x: hidden; /* 가로 스크롤 숨김 */
}

.container {
    background: white;
    padding: 2em;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
    margin: 0 auto;
}

.logo img {
    width: 250px; /* 로고 이미지 크기 조정 */
    height: auto;
}
button.back-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: transparent;
    border: none;
    color: black;
    cursor: pointer;
    display: flex;
    align-items: center;
}
    button.back-btn i {
    margin-right: 5px;
}

    button.back-btn:hover {
    background-color: transparent;
}

h1 {
    margin-bottom: 1.5em;
    font-size: 24px;
}

.form-group {
    margin-bottom: 1em;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 0.5em;
}

.form-group input {
    width: 100%;
    padding: 0.75em;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 0.75em;
    background-color: #8B4513;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #7A3C12;
}

a {
    display: inline-block;
    margin-top: 1em;
    color: #555;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.social-login {
    margin-top: 1em;
}

.social-login a {
    display: flex;
    align-items: center;
    padding: 0.75em;
    margin-bottom: 0.5em;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
    justify-content: center;
}

.social-login a img {
    margin-right: 8px;
    flex-shrink: 0;
}

.kakao-login a {
    background-color: #FFEB00;
    color: black;
}

.google-login a {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.naver-login a {
    background-color: #03C75A;
}

.social-login span {
    display: inline-block;
    width: calc(100% - 28px);
    text-align: center;
}