<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
</head>
<div layout:fragment="content" class="container">
    <div class="logo">Coconut</div>
    <h1>로그인</h1>
    <form th:action="@{/login}" method="post">
        <div class="form-group">
            <label for="username"></label>
            <input type="text" id="username" name="username" placeholder="아이디 또는 이메일">
        </div>
        <div class="form-group">
            <label for="password"></label>
            <input type="password" id="password" name="password" placeholder="비밀번호">
        </div>
        <button type="submit">LOGIN</button>
        <a th:href="@{/user/signup}">회원가입</a>
    </form>
    <div class="social-login">
        <div class="kakao-login">
            <a th:href="@{/oauth2/authorization/kakao}">
                <img src="https://github.com/Junsu-Ahn/cookers/assets/156152342/6183c7c2-d209-4d1a-8276-9232162d1226" alt="카카오" style="width: 20px; height: 20px;">
                <span>카카오 로그인</span>
            </a>
        </div>
        <div class="google-login">
            <a th:href="@{/oauth2/authorization/google}">
                <img src="https://github.com/Junsu-Ahn/cookers/assets/156152342/b210eae2-e515-4cdf-93ce-3c445e44b727" alt="구글" style="width: 20px; height: 20px;">
                <span>구글 로그인</span>
            </a>
        </div>
        <div class="naver-login">
            <a th:href="@{/oauth2/authorization/naver}">
                <img src="https://github.com/Junsu-Ahn/cookers/assets/156152342/3fd07912-a828-4c37-878c-ece4a5feffb4" alt="네이버" style="width: 20px; height: 20px;">
                <span>네이버 로그인</span>
            </a>
        </div>
    </div>
</div>

