<html layout:decorate="~{common/layout}">
<div layout:fragment="content">

    <div class="search_container">
        <div class="search_body">

            <div class="search_scrap">
                <div class="search_scrap_title sTitle">🔥스크랩 게시글🔥</div>
                <div class="search_scrap_section sSec">
                    <div class="search_scrap_Info sInfo" th:each="report, loop : ${reportList}">
                         <a th:href="@{|/report/detail/${report.id}|}">스크랩 게시글</a>

                         <div class="sInfo_text" th:text="${report.title}"></div>
                    </div>
                         <button th:if="${#lists.size(reportList) > 4}" class="prevBtn1 pB">&#10094;</button>
                         <button th:if="${#lists.size(reportList) > 4}" class="nextBtn1 nB">&#10095;</button>
                        <button th:if="${#lists.size(reportList) <= 4}" class="prevBtn1 pB">&nbsp;</button>
                        <button th:if="${#lists.size(reportList) <= 4}" class="nextBtn1 nB">&nbsp;</button>
                        <p class="nullReportText" th:if="${#lists.size(reportList) == 0}">게시글이 없습니다.</p>
                </div>
            </div>

            <div class="search_myList">
                <div class="search_myList_title sTitle">💡내가 쓴 게시글💡</div>
                <div class="search_myList_section sSec">
                    <div class="search_myList_Info sInfo" th:each="freedcs : ${freedcsList}">
                        <a th:href="@{|/discussion/free_detail/${freedcs.id}|}">
                            <img th:src="@{|/file/${freedcs.thumbnailImg}|}" alt="썸네일" class="thumbnail">
                        </a>
                        <div class="sInfo_text">
                            <span th:text="${#strings.length(freedcs.title) > 18 ? #strings.substring(freedcs.title, 0, 18) + '....' : freedcs.title}"></span>
                        </div>
                    </div>
                    <button th:if="${#lists.size(freedcsList) > 4}" class="prevBtn2 pB">&#10094;</button>
                    <button th:if="${#lists.size(freedcsList) > 4}" class="nextBtn2 nB">&#10095;</button>
                    <button th:if="${#lists.size(freedcsList) <= 4}" class="prevBtn2 pB">&nbsp;</button>
                    <button th:if="${#lists.size(freedcsList) <= 4}" class="nextBtn2 nB">&nbsp;</button>
                    <p class="nullReportText" th:if="${#lists.size(freedcsList) == 0}">게시글이 없습니다.</p>
                </div>
            </div>

            <div class="search_report">
                <div class="search_report_title sTitle">💡나의 QnA💡</div>
                <div class="search_report_section sSec">
                    <div class="search_report_Info sInfo" th:each="report, loop : ${reportList}">
                        <a th:href="@{|/report/detail/${report.id}|}" th:text="${report.title}">
                            </a>
                    </div>
                    <button th:if="${#lists.size(reportList) > 4}" class="prevBtn3 pB">&#10094;</button>
                    <button th:if="${#lists.size(reportList) > 4}" class="nextBtn3 nB">&#10095;</button>
                    <button th:if="${#lists.size(reportList) <= 4}" class="prevBtn3 pB">&nbsp;</button>
                    <button th:if="${#lists.size(reportList) <= 4}" class="nextBtn3 nB">&nbsp;</button>
                    <p class="nullReportText" th:if="${#lists.size(reportList) == 0}">게시글이 없습니다.</p>
                </div>
            </div>

        </div>
    </div>
</div>
</html>

