<html layout:decorate="~{common/layout}">
    <div layout:fragment="content" class="debateDetail_container">
        <!-- 질문 -->
        <h1 class="debateDetail_title" th:text="${debate.title}"></h1>
        <div class="debateDetail_debateList">
            <div class="debateDetail_userData">
                <div class="debateDetail_username">
                    <span th:if="${debate.author != null}" th:text="${debate.author.username}"></span>
                </div>
                <div class="debateDetail_createDate" th:text="${#temporals.format(debate.createDate, 'yyyy-MM-dd HH:mm')}"></div>
            </div>
            <div class="debateDetail_content" style="white-space: pre-line;" th:text="${debate.content}"></div>
            <div class="debateDetail_content_function">
                <a href="javascript:void(0);" class="debateDetail_vote" th:data-uri="@{|/discussion/d_vote/${debate.id}|}">
                    추천
                    <span class="debateDetail_voterCount" th:text="${#lists.size(debate.voter)}"></span>
                </a>
                <a href="javascript:void(0);" class="debateDetail_scrap"
                   th:data-uri="@{|/discussion/debate/scrap/${debate.id}|}">
                    스크랩
                </a>
                <div class="debateDetail_content_modifyAndDelete">
                    <a th:href="@{|/discussion/d_modify/${debate.id}|}" class="debateDetail_content_modify_btn" sec:authorize="isAuthenticated()"
                       th:if="${debate.author != null and #authentication.getPrincipal().getUsername() == debate.author.username}"
                       th:text="수정"></a>
                    <a href="javascript:void(0);" th:data-uri="@{|/discussion/d_delete/${debate.id}|}" class="debateDetail_content_delete_btn" sec:authorize="isAuthenticated()"
                       th:if="${debate.author != null and #authentication.getPrincipal().getUsername() == debate.author.username}"
                       th:text="삭제"></a>
                </div>
            </div>
        </div>
    <!-- 답변의 갯수 표시 -->
    <h5 class="debateDetail_answerList" th:text="|${#lists.size(debate.answerList)}개의 답변이 있습니다.|"></h5>
        <!-- 찬반 결과 도표 -->
        <div class="debateDetail_chart">
            <!-- 찬성 도표 -->
            <div class="debateDetail_chart_support">
                찬성: <span th:text="${supportCount}"></span>
            </div>
            <!-- 반대 도표 -->
            <div class="debateDetail_chart_opposition">
                반대: <span th:text="${oppositionCount}"></span>
            </div>
        </div>
        <!-- 답변 반복 시작 -->
        <div class="debateDetail_answers">
            <div class="debateDetail_support">
                <h3 ><span style="color: #007bff;">찬성</span> 댓글(<span th:text="${supportCount}"></span>)</h3>
                <div th:each="answer : ${debate.answerList}" th:if="${answer.isSupport}">
                    <div class="debateDetail_answer">
                        <div class="debateDetail_userData">
                            <div class="debateDetail_username">
                                <span th:if="${answer.author != null}" th:text="${answer.author.username}"></span>
                            </div>
                            <div class="debateDetail_createDate">
                                <div th:text="${#temporals.format(answer.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                            </div>
                        </div>
                        <div class="debateDetail_content" style="white-space: pre-line;" th:text="${answer.content}"></div>
                        <div class="debateDetail_content_function">
                            <a href="javascript:void(0);" class="debateDetail_vote"
                               th:data-uri="@{|/answer/support/vote/${answer.id}|}">
                                추천
                                <span class="debateDetail_voterCount" th:text="${#lists.size(answer.voter)}"></span>
                            </a>
                            <div class="debateDetail_content_modifyAndDelete">
                                <a th:href="@{|/answer/support/modify/${answer.id}|}" class="debateDetail_content_modify_btn"
                                   sec:authorize="isAuthenticated()"
                                   th:if="${answer.author != null and #authentication.getPrincipal().getUsername() == answer.author.username}"
                                   th:text="수정"></a>
                                <a href="javascript:void(0);" th:data-uri="@{|/answer/support/delete/${answer.id}|}"
                                   class="debateDetail_content_delete_btn" sec:authorize="isAuthenticated()"
                                   th:if="${answer.author != null and #authentication.getPrincipal().getUsername() == answer.author.username}"
                                   th:text="삭제"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="debateDetail_opposition">
                <h3><span style="color: #ff0000;">반대</span> 댓글(<span th:text="${oppositionCount}"></span>)</h3>
                <div th:each="answer : ${debate.answerList}" th:if="${!answer.isSupport}">
                    <div class="debateDetail_answer">
                        <div class="debateDetail_userData">
                            <div class="debateDetail_username">
                                <span th:if="${answer.author != null}" th:text="${answer.author.username}"></span>
                            </div>
                            <div class="debateDetail_createDate">
                                <div th:text="${#temporals.format(answer.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                            </div>
                        </div>
                        <div class="debateDetail_content" style="white-space: pre-line;" th:text="${answer.content}"></div>
                        <div class="debateDetail_content_function">
                            <a href="javascript:void(0);" class="debateDetail_vote"
                               th:data-uri="@{|/answer/opposition/vote/${answer.id}|}">
                                추천
                                <span class="debateDetail_voterCount" th:text="${#lists.size(answer.voter)}"></span>
                            </a>
                            <div class="debateDetail_content_modifyAndDelete">
                                <a th:href="@{|/answer/opposition/modify/${answer.id}|}" class="debateDetail_content_modify_btn"
                                   sec:authorize="isAuthenticated()"
                                   th:if="${answer.author != null and #authentication.getPrincipal().getUsername() == answer.author.username}"
                                   th:text="수정"></a>
                                <a href="javascript:void(0);" th:data-uri="@{|/answer/opposition/delete/${answer.id}|}"
                                   class="debateDetail_content_delete_btn" sec:authorize="isAuthenticated()"
                                   th:if="${answer.author != null and #authentication.getPrincipal().getUsername() == answer.author.username}"
                                   th:text="삭제"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- 답변 반복 끝  -->
    <!-- 답변 작성 -->
    <form class="debateDetail_create" th:action="@{|/answer/debate/create/${debate.id}|}" th:object="${answerForm}" method="post">
        <div th:replace="~{common/form_errors :: formErrorsFragment}"></div>
        <textarea sec:authorize="isAuthenticated()" th:field="*{content}" class="debateDetail_create_text" rows="10"></textarea>
        <div class="debateDetail_create_buttons">
            <label>
                <input type="radio" id="supportRadio" name="isSupport" value="true" th:checked="${answerForm.isSupport == true}"> 찬성
            </label>
            <label>
                <input type="radio" id="oppositionRadio" name="isSupport" value="false" th:checked="${answerForm.isSupport == false}"> 반대
            </label>
        </div>
        <button type="submit" class="debateDetail_create_btn">댓글 작성</button>
        <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
    </form>
</div>
</html>
