<html layout:decorate="~{common/layout}">
<div layout:fragment="content" class="reportForm_container">
    <h5 class="reportForm_create">자유토론 답변 수정</h5>
    <form th:object="${answerForm}" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <div th:replace="~{common/form_errors :: formErrorsFragment}"></div>
        <!-- Error message alert -->
        <div th:if="${error}" id="error" class="alert alert-danger" role="alert">
            <span th:text="${error}"></span>
            <span class="close" onclick="closeAlert_form()">&times;</span>
        </div>
        <div class="reportForm_body">
            <label for="content" class="reportForm_content_label">내용</label>
            <textarea th:field="*{content}" name="content" id="content" class="reportForm_content_input" rows="10"></textarea>
        </div>
        <input type="submit" value="저장하기" class="reportForm_create_btn">
    </form>
</div>
</html>