<html layout:decorate="~{common/layout_f}">
<div layout:fragment="content" class="freedcsList_container">

    <!--카테고리-->
    <div id="category-bar">
        <button class="category-botton">
            <div>전체</div>
        </button>
        <button class="category-botton">
            <div>경제</div>
        </button>
        <button class="category-botton">
            <div>스포츠</div>
        </button>
        <button class="category-botton">
            <div>연예</div>
        </button>
        <button class="category-botton">
            <div>기타</div>
        </button>
    </div>

    <div class="freedcsList_head_row">
        <!-- 질문 등록하기 버튼 -->
        <a class="freedcsList_create_btn" th:href="@{/discussion/free_create}">
            질문 등록하기
        </a>
        <!-- 검색 창과 버튼 -->
<!--        <div class="freedcsList_input_group">-->
<!--            <input type="text" id="search_kw" class="form-control" th:value="${kw}" placeholder="검색어 입력">-->
<!--            <i type="button" id="btn_search" class="fa-solid fa-magnifying-glass search-icon"></i>-->
<!--        </div>-->
    </div>
    <!--게시물-->
    <div class="freedcs-container">
        <div class="freedcs_body">
            <div th:each="freedcs : ${freedcsList}" class="post">
                <a th:href="@{|/discussion/free_detail/${freedcs.id}|}">
                    <div class="thumbnail">
                        <img th:src="@{|/file/${freedcs.thumbnailImg}|}" alt="썸네일">
                    </div>
                <!--            <img th:src="@{|/file/${freedcs.thumbnailImg}|}" alt="12314" class="thumbnail">-->
                    <div class="post-info">
                        <div class="post-title" th:text="${freedcs.title}"></div>
                        <div class="post-author" th:if="${freedcs.author != null}" th:text="${freedcs.author.username}"></div>
                    </div>
                </a>
            </div>
            <div class="post">
                <img src="thumbnail1.jpg" alt="썸네일" class="thumbnail">
                <div class="post-info">
                    <div class="post-title">게시글 제목 1</div>
                    <div class="post-author">작성자 1</div>
                </div>
            </div>
            <div class="post">
                <img src="thumbnail1.jpg" alt="썸네일" class="thumbnail">
                <div class="post-info">
                    <div class="post-title">게시글 제목 1</div>
                    <div class="post-author">작성자 1</div>
                </div>
            </div>
            <div class="post">
                <img src="thumbnail1.jpg" alt="썸네일" class="thumbnail">
                <div class="post-info">
                    <div class="post-title">게시글 제목 1</div>
                    <div class="post-author">작성자 1</div>
                </div>
            </div>
            <div class="post">
                <img src="thumbnail1.jpg" alt="썸네일" class="thumbnail">
                <div class="post-info">
                    <div class="post-title">게시글 제목 1</div>
                    <div class="post-author">작성자 1</div>
                </div>
            </div>
        </div>
    </div>
    <!-- 페이징처리 시작 -->
        <div th:if="${!paging.isEmpty()}" class="pagination-container">
            <ul class="pagination">
                <li th:class="${!paging.hasPrevious} ? 'disabled'">
                    <a class="page-link" ref="javascript:void(0)" th:data-page="${paging.number-1}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
                    th:if="${page >= paging.number-5 and page <= paging.number+5}"
                    th:class="${page == paging.number} ? 'active' : ''">
                    <a class="page-link" th:text="${page}" href="javascript:void(0)" th:data-page="${page}"></a>
                </li>
                <li th:class="${!paging.hasNext} ? 'disabled'">
                    <a class="page-link" href="javascript:void(0)" th:data-page="${paging.number+1}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- 페이징처리 끝 -->
        <form th:action="@{/freedcs/freedcs_list}" method="get" id="searchForm">
            <input type="hidden" id="kw" name="kw" th:value="${kw}">
            <input type="hidden" id="page" name="page" th:value="${paging.number}">
        </form>
    </div>
</html>