<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css">

<table class="table">
    <thead>
    <tr>
        <th>썸네일</th>
        <th>제목</th>
        <th>분류</th>
        <th>작성자</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="freedcs : ${freedcsList}">
        <td>
            <img th:src="@{|/file/${freedcs.thumbnailImg}|}" height=100px width=100px alt="12314">
        </td>
        <td>
            <a th:href="@{|/discussion/free_detail/${freedcs.id}|}" th:text="${freedcs.title}"></a>
        </td>
        <td><span th:text="${freedcs.displayName}"></span></td>
        <td th:text="${freedcs.content}"></td>
    </tr>
    </tbody>
</table>

<a th:href="@{/discussion/free_create}" class="btn btn-primary">질문 등록하기</a>
