/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.freedcsList_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #fcba03; /* Optional: Background color for the container  #f8f9fa*/
}

#category-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    gap: 16px; /* Reduced gap for better alignment */
    width: 100%;
    box-sizing: border-box;
}

.category-button {
    color: #717171;
    font-size: 12px;
    font-weight: 600;
    background-color: #e9ecef;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.category-button:hover {
    background-color: #ced4da;
}

.add-category-btn,
.freedcsList_head_row {
    margin: 20px 0;
    width: 100%;
    text-align: center;
}

.freedcs-container {
    max-width: 1280px;
    width: 100%; /* Added to ensure it takes full available width */
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    background-color: #869960; /* Optional: Background color for the container */
}

.freedcs_body {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; /* Center align the posts */
}

.post {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: calc((100% - 80px) / 4); /* 80px is the total gap space (4 gaps of 20px each) */
    box-sizing: border-box;
}

.thumbnail img {
    width: 100%;
    height: 200px;
    border-radius: 8px 8px 0 0;
    object-fit: cover;
}

.post-info {
    padding: 10px 0;
}

.post-title {
    font-size: 1.2em;
    margin: 0 0 10px;
}

.post-author {
    font-size: 0.9em;
    color: #555;
}

.post-categories {
    font-size: 0.8em;
    color: #999;
}

.pagination-container {
    margin: 20px 0;
    text-align: center; /* 중앙 정렬 */
}

.pagination {
    list-style: none;
    padding: 0;
    display: inline-flex; /* inline-flex로 변경하여 중앙에 정렬 */
    gap: 5px;
}

.page-link {
    display: block;
    padding: 8px 12px;
    color: #007bff;
    text-decoration: none;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.page-link:hover {
    background-color: #e9ecef;
}

.active .page-link {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}

.disabled .page-link {
    color: #6c757d;
}
