.swiper_head{
 height: calc(100vh - 80px);
    overflow: hidden;
    }

.swiper_body {
            background: #eee;
            font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
            font-size: 14px;
            color: #000;
            margin: 0;
            padding: 0;
            height: 100vh; /* Make the swiper take full height */
}

.swiper {
            width: 100%;
            height: 100%; /* Make the swiper take full height */
}

.swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
}

.swiper-slide img {
            transition: all 4s;
                width: 100%;
                top: 0;
                left: 0;
                display: block;
                position: absolute;
}