
.reportForm_container {
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.reportForm_create {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-size: 24px;
}

.form-group {
    margin-bottom: 20px;
}

.form-label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.form-select {
    width: 20%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    font-size: 16px;
    appearance: none;
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0z"/><path fill="%23333" d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px;
}

.reportForm_title,
.reportForm_body {
    margin-bottom: 20px;
}

.reportForm_title_label,
.reportForm_content_label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.reportForm_title_input,
.reportForm_content_input {
    width: 97%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.reportForm_create_btn {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.reportForm_create_btn:hover {
    background-color: #45a049;
}

.form-check-input {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.form-check-label {
    font-size: 16px;
}

.reportForm_bottom{
    display:flex;
    justify-content: space-between;
}