
<nav th:fragment="navbarFragment" class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width" initial-scale="1.0">
  <script src="https://kit.fontawesome.com/eb860590bd.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gasoek+One&display=swap" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js">
  </script>
</head>

<body>

<section class="sec">
  <nav class="nav">
    <div class="nav__logo">
      <a href="#">logo</a>
    </div>
    <ul class="nav__main">
      <li><a href=""></a>자유토론</li>
      <li>|</li>
      <li><a href=""></a>찬반토론</li>
      <li>|</li>
      <li><a href=""></a>QnA</li>

    </ul>

    <ul class="nav__login">
      <div>
        <a sec:authorize="isAnonymous()" href="/member/login">로그인</a>
        <a sec:authorize="isAuthenticated()" href="/member/logout">로그아웃</a>
        <a sec:authorize="isAuthenticated()" href="/member/mypage">마이페이지</a>
        <a sec:authorize="isAnonymous()"  href="/member/signup">회원가입</a>
      </div>
    </ul>

    <a href="#" class="nav__bar">
      <i class="fa-solid fa-bars"></i>
    </a>

  </nav>

</section>
</body>
</nav>