<html layout:decorate="~{common/layout}">
<div layout:fragment="content">

    <!-- Swiper -->
    <div class="swiper_head">
        <div class="swiper_body">
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img th:src="@{/images/slideImage_1.jpg}" alt="이미지 1"></div>
                    <div class="swiper-slide"><img th:src="@{/images/slideImage_2.jpg}" alt="이미지 2"></div>
                    <div class="swiper-slide"><img th:src="@{/images/slideImage_3.jpg}" alt="이미지 3"></div>
                    <div class="swiper-slide"><img th:src="@{/images/slideImage_4.jpg}" alt="이미지 4"></div>
                    <div class="swiper-slide"><img th:src="@{/images/slideImage_5.jpg}" alt="이미지 5"></div>
                    <div class="swiper-slide"><img th:src="@{/images/slideImage_6.jpg}" alt="이미지 6"></div>
                    <div class="swiper-slide"><img th:src="@{/images/slideImage_7.jpg}" alt="이미지 7"></div>
                    <div class="swiper-slide"><img th:src="@{/images/slideImage_8.jpg}" alt="이미지 8"></div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>

    <div class="main_container">
        <div class="main_body">
            <div class="main_Hot_Topic">
                <div class="main_Hot_Topic_title mTitle">🔥오늘의 인기 토론🔥</div>
                <div class="Hot_Topic_section MSec">
                    <div class="main_Hot_Topic_Info dcsInfo">
                        <a href="#">인기 토론 1 이미지</a>
                        <div class="dcsInfo_text">인기 토론 1</div>
                    </div>

                    <div class="main_Hot_Topic_2 dcsInfo">
                        <a href="#">인기 토론 2 이미지</a>
                        <div class="dcsInfo_text">인기 토론 2</div>
                    </div>

                    <div class="main_Hot_Topic_3 dcsInfo">
                        <a href="#">인기 토론 3 이미지</a>
                        <div class="dcsInfo_text">인기 토론 3</div>
                    </div>

                    <div class="main_Hot_Topic_4 dcsInfo">
                        <a href="#">인기 토론 4 이미지</a>
                        <div class="dcsInfo_text">인기 토론 4</div>
                    </div>
                </div>
            </div>
            <div class="main_Latest">
                <div class="main_Latest_title mTitle">🆕최신 토론🆕</div>
                <div class="Latest_section MSec">
                    <div class="main_Latest_Info dcsInfo" th:each="freedcs : ${freedcsList}" >
                        <a th:href="@{|/discussion/free_detail/${freedcs.id}|}">
                            <img th:src="@{|/file/${freedcs.thumbnailImg}|}" alt="썸네일" class="thumbnail">
                        </a>
                        <div class="dcsInfo_text">
                        <span th:text="${#strings.length(freedcs.title) > 18 ? #strings.substring(freedcs.title, 0, 18) + '....' : freedcs.title}"></span>
                        </div>
                    </div>
                    <button th:if="${#lists.size(freedcsList) > 4}" class="prevBtn4 pB">&#10094;</button>
                    <button th:if="${#lists.size(freedcsList) > 4}" class="nextBtn4 nB">&#10095;</button>
                    <button th:if="${#lists.size(freedcsList) <= 4}" class="prevBtn4 pB">&nbsp;</button>
                    <button th:if="${#lists.size(freedcsList) <= 4}" class="nextBtn4 nB">&nbsp;</button>
                    <p class="nullReportText" th:if="${#lists.size(freedcsList) == 0}">게시글이 없습니다.</p>
                </div>
            </div>
        </div>
    </div>
    <section class="free_Sec">
        <h1 class="free_Sec_Title">JOIN!! FREE DISCUSSION</h1>
        <a class="free_Sec_Content" href="/discussion/freedcs_list"><span class="arrow">&rarr;</span>Go to Free Discussion</a>
    </section>
    <section class="pcd_Sec">
        <h1 class="pcd_Sec_Title">JOIN!! Pro-Con Debate</h1>
        <a class="pcd_Sec_Content" href="/discussion/freedcs_list"><span class="arrow">&rarr;</span>Go to Pro-Con Debate</a>
    </section>
    <footer th:replace="~{common/footer :: footerFragment}"></footer>
</div>
</html>

