<html layout:decorate="~{common/layout}">
<div layout:fragment="content">

    <!-- Swiper -->
    <div class="swiper_head">
        <div class="swiper_body">
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img th:src="@{/images/slideImage_1.jpg}" alt="이미지 1"></div>
                    <div class="swiper-slide"><img th:src="@{/images/slideImage_2.jpg}" alt="이미지 2"></div>
                    <div class="swiper-slide"><img th:src="@{/images/slideImage_3.jpg}" alt="이미지 3"></div>
                    <div class="swiper-slide"><img th:src="@{/images/slideImage_4.jpg}" alt="이미지 4"></div>
                    <div class="swiper-slide"><img th:src="@{/images/slideImage_5.jpg}" alt="이미지 5"></div>
                    <div class="swiper-slide"><img th:src="@{/images/slideImage_6.png}" alt="이미지 6"></div>
                    <div class="swiper-slide"><img th:src="@{/images/slideImage_7.jpg}" alt="이미지 7"></div>
                    <div class="swiper-slide"><img th:src="@{/images/slideImage_8.jpg}" alt="이미지 8"></div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>

    <div class="main_container">
        <div class="book1"></div>
        <div class="tree1"></div>
        <div class="balloon1"></div>
        <div class="book2"></div>
        <div class="balloon2"></div>
        <div class="tree2"></div>
        <div class="human"></div>
        <div class="main_body">
            <div class="main_Hot_Topic_freedcs">
                <div class="main_Hot_Topic_title_freedcs mTitle">🔥인기 자유토론🔥</div>
                    <div class="Hot_Topic_section_freedcs MSec">
                        <div class="main_Hot_Topic_Info_freedcs dcsInfo" th:each="freedcs : ${freedcsBestList}">
                        <a th:href="@{|/discussion/free_detail/${freedcs.id}|}">
                            <img th:src="@{|/file/${freedcs.thumbnailImg}|}" alt="썸네일" class="main_thumbnail">
                        </a>
                        <div class="dcsInfo_text">
                         <span th:text="${#strings.length(freedcs.title) > 18 ? #strings.substring(freedcs.title, 0, 18) + '....' : freedcs.title}"></span>
                        </div>
                    </div>
                    <button th:if="${#lists.size(freedcsBestList) > 4}" class="prevBtn5 pB">&#10094;</button>
                    <button th:if="${#lists.size(freedcsBestList) > 4}" class="nextBtn5 nB">&#10095;</button>
                    <button th:if="${#lists.size(freedcsBestList) <= 4}" class="prevBtn5 pB">&nbsp;</button>
                    <button th:if="${#lists.size(freedcsBestList) <= 4}" class="nextBtn5 nB">&nbsp;</button>
                    <p class="nullReportText" th:if="${#lists.size(freedcsBestList) == 0}">게시글이 없습니다.</p>
                    </div>
            </div>
            <div class="main_Hot_Topic_debate">
                <div class="main_Hot_Topic_title_debate mTitle">🔥인기 찬/반토론🔥</div>
                <div class="Hot_Topic_section_debate MSec">
                    <div class="main_Hot_Topic_Info_debate dcsInfo" th:each="debate : ${debateBestList}">
                        <a th:href="@{|/discussion/d_detail/${debate.id}|}">
                            <img th:src="@{|/file/${debate.thumbnailImg}|}" alt="썸네일" class="main_thumbnail">
                        </a>
                        <div class="dcsInfo_text">
                            <span th:text="${#strings.length(debate.title) > 18 ? #strings.substring(debate.title, 0, 18) + '....' : debate.title}"></span>
                        </div>
                    </div>
                    <button th:if="${#lists.size(debateBestList) > 4}" class="prevBtn6 pB">&#10094;</button>
                    <button th:if="${#lists.size(debateBestList) > 4}" class="nextBtn6 nB">&#10095;</button>
                    <button th:if="${#lists.size(debateBestList) <= 4}" class="prevBtn6 pB">&nbsp;</button>
                    <button th:if="${#lists.size(debateBestList) <= 4}" class="nextBtn6 nB">&nbsp;</button>
                    <p class="nullReportText" th:if="${#lists.size(debateBestList) == 0}">게시글이 없습니다.</p>
                </div>
            </div>
            <div class="main_Latest">
                <div class="main_Latest_title mTitle">🆕최신 토론🆕</div>
                <div class="Latest_section MSec">
                    <div class="main_Latest_Info dcsInfo" th:each="combine : ${combinedList}">
                        <a th:if="${combine.getClass().simpleName == 'Freedcs'}" th:href="@{|/discussion/free_detail/${combine.id}|}">
                            <img th:src="@{|/file/${combine.thumbnailImg}|}" alt="썸네일" class="main_thumbnail">
                        </a>
                        <a th:if="${combine.getClass().simpleName == 'Debate'}" th:href="@{|/discussion/d_detail/${combine.id}|}">
                            <img th:src="@{|/file/${combine.thumbnailImg}|}" alt="썸네일" class="main_thumbnail">
                        </a>
                        <div class="dcsInfo_text">
                            <span th:text="${#strings.length(combine.title) > 18 ? #strings.substring(combine.title, 0, 18) + '....' : combine.title}"></span>
                        </div>
                    </div>
                    <button th:if="${#lists.size(combinedList) > 4}" class="prevBtn4 pB">&#10094;</button>
                    <button th:if="${#lists.size(combinedList) > 4}" class="nextBtn4 nB">&#10095;</button>
                    <button th:if="${#lists.size(combinedList) <= 4}" class="prevBtn4 pB">&nbsp;</button>
                    <button th:if="${#lists.size(combinedList) <= 4}" class="nextBtn4 nB">&nbsp;</button>
                    <p class="nullReportText" th:if="${#lists.size(combinedList) == 0}">게시글이 없습니다.</p>
                </div>
            </div>
        </div>
    </div>
    <section class="free_Sec">
        <h1 class="free_Sec_Title">JOIN!! FREE DISCUSSION</h1>
        <a class="free_Sec_Content" href="/discussion/freedcs_list"><span class="arrow">&rarr;</span>Go to Free
            Discussion</a>
    </section>
    <section class="pcd_Sec">
        <h1 class="pcd_Sec_Title">JOIN!! Pro-Con Debate</h1>
        <a class="pcd_Sec_Content" href="/discussion/debate_list"><span class="arrow">&rarr;</span>Go to Pro-Con Debate</a>
    </section>
    <footer th:replace="~{common/footer :: footerFragment}"></footer>
</div>
</html>

